<div class="boxshadow">
        <div class="contactinfo">
          <span><i class="fas fa-envelope"></i></span>
          <h4>{{ section.settings.contactemail }}</h4>
        </div>
        <div class="contactinfo">
          <span><i class="fas fa-phone-alt"></i></span>
          <h4>{{ section.settings.contactnumber }}</h4>
        </div>
        
        
        
    	{% include "social-info" %}
      </div>
 
